<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UsersApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <div class="text-center mt-4">
        <a asp-controller="Books" asp-action="Index" class="btn btn-outline-primary">View Books</a>
    </div>

    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <script src="~/js/lib/bootstrap/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
