@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (TempData["LoginSuccess"] != null && !string.IsNullOrWhiteSpace(TempData["LoginSuccess"]?.ToString()))
    {
        <text>
            <script>
                Swal.fire({
                    title: 'Login Successful',
                    text: '@TempData["LoginSuccess"]',
                    icon: 'success',
                    confirmButtonText: 'Let\'s build!',
                    timer: 3000,
                    timerProgressBar: true
                });
            </script>
        </text>
    }
}
