html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    transition: margin-left 0.3s ease;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


select.year-dropdown {
    max-height: 200px;
    overflow-y: auto;
    display: block;
}

.scroll-wrapper {
    max-height: 200px;
    overflow-y: auto;
}

select.year-dropdown {
    height: auto;
    display: block;
}